#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#header >img{
    width: 30%;
}
#search{
    margin-top:  30px;
    margin-bottom: 30px;
    border-radius: 5px ;
    width: 300px;
}

#header >div{
    display: flex;
    width: 200px;
    padding-right: 20px;
}
#header >div >img{
    padding-top: 20px;
    width: 30%;
    height: 60px;
}

#navbar{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#navbar :hover{
    background-color:black;
    color: white;
}
#navbar ul a {
    text-decoration: none;
}
.sport{
    display: none;
}

#navbar :hover .sport{
    display: block;
    position: absolute;
    margin-top: 30px;
    background-color: lightblue;
}

#pic{
    width: 100%;
}

#pic img{
    width: 100%;
}

.kit {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: auto;
}

.kit img{
    width: 100%;
}

img{
    width: 100%;
}
.bag{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.bag img{
    width: 100%;
}

#end{
    padding-top: 50px;
    width: 100%;
}
#shopcart{
    padding-top: 20px;
    padding-left: 20px;
}
#shopcart a{
    text-decoration: none;
}