*{
    box-sizing: border-box;
}
#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#header >img{
    width: 30%;
}
#search{
    margin-top:  30px;
    margin-bottom: 30px;
    border-radius: 5px ;
    width: 300px;
}

#header >div{
    display: flex;
    width: 200px;
    /* justify-content: space-between; */
    padding-right: 20px;
}
#header >div >img{
    padding-top: 20px;
    width: 40%;
    height: 80px;
}

#navbar{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#navbar :hover{
    background-color:black;
    color: white;
}

#navbar ul a {
    text-decoration: none;
    
}
.sport{
    display: none;
}

#navbar :hover .sport{
    display: block;
    position: absolute;
    margin-top: 30px;
    background-color: lightblue;
}
#shopcart{
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
}

#cont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border: 2px solid black;
    margin: auto;
    text-align: center;
    /* background-color: aquamarine; */
}
#cont div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
#cont div img{
    padding-top: 20px;
    width: 25%;
}
#box {
}