* {
    box-sizing: border-box;
}
#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#header >img{
    width: 30%;
}
#search{
    margin-top:  30px;
    margin-bottom: 30px;
    border-radius: 5px ;
    width: 300px;
}

#header >div{
    display: flex;
    width: 200px;
    padding-right: 20px;
}
#header >div >img{
    padding-top: 20px;
    width: 40%;
    height: 80px;
}

#navbar{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#navbar :hover{
    background-color:black;
    color: white;
}

#Image{
    width: 100%;
    display: flex;
    align-items: center;
    
}
#Image Button{
    background-color: azure;
    font-size: 30px;
    width: 5%;
    height: 70px;
}
#Image > a>img{
    overflow: hidden;
    width: 100%;
}
#cont{
    width: 90%;
    padding-top: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 20px;
    text-align: center;
}

#cont img{
    width: 100%;
}

#midSection{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px 40px;
}
#midSection img{
    width: 100%;
}

#midSection >div >div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cont2{
    padding-top: 50px;
    width: 100%;
}
.cont2 img{
    width: 100%;
}
.cont3 {
    width: 100%;
    padding-top: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px 40px;
}
.cont3 img{
    width: 100%;
}
#btn{
    width: 200px;
    height: 50px;
    color:white;
    background-color: black;
}

#end{
    padding-top: 50px;
    width: 100%;
}

.btnend{
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin: auto;

}
#navbar ul a {
    text-decoration: none;
    
}
.sport{
    display: none;
}

#navbar :hover .sport{
    display: block;
    position: absolute;
    margin-top: 30px;
    background-color: lightblue;
}
.main a {
    text-decoration: none;
}

#shopcart{
    padding-top: 20px;
    padding-left: 20px;
}
#shopcart a{
    text-decoration: none;
}
@media screen and (max-width :400px) {
    #header{
        display: none;
    }
    #navbar{
        display: none;
    }
    #cont {
        display: flex;
        flex-direction: column;
    }
    #midSection {
        display: flex;
        flex-direction: column;
    }
    .cont3 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px 40px;
        text-align: center;
    }
}
@media screen and (min-width :401px) and (max-width :800px) {
    #cont {
        display: flex;
        flex-direction: column;
    }
    #midSection {
        display: flex;
        flex-direction: column;
    }
    .cont3 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px 40px;
        text-align: center;
    }
}